body {
    font-family: 'Poppins', 'Sunflower', 'Open Sans', sans-serif;
}

#loading {
    transform: scale(5) translate(0, -25%);
    display: none;
    border-style: dashed !important;
    background-color: #FDF4F5 !important;
}
#loading.visible {
    display: block;
}

button {
    transition: 0.2s ease-in-out !important;
}
button:hover {
    transform: scale(1.1);
}

/*#boxbox {*/
/*    --bs-body-bg: #6981ab;*/
/*    --bs-body-bg-rgb: rgb(105, 129, 171);*/
/*}*/
/*'Jua', 'Nanum Gothic', 'Sunflower'*/

/*text {*/
/*    font-family: 'Jua', 'Poppins', 'Open Sans', sans-serif;*/
/*}*/